body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  /* color: #222222; */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

/* Dobra 1 */

.dobra-1 {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  
}

.dobra-1 img {
  width: 175px;
}

.dobra-1-menu ul {
  display: flex;
}

.dobra-1-menu ul li {
  padding: 0 20px;
}

.dobra-1-menu ul li a {
  color: #fff;
}
.dobra-1-menu ul li a:hover {
  font-weight: bold;
}

/* Dobra 2 */

.dobra-2 {
  height: 90vh;
  margin-top: -13px;
  /* background-color: #777; */
  background: url(../assets/bg_dobra2-2.jpg)  no-repeat center center; 

}

.dobra-2-content {
  margin: 0 10%; 
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.dobra-2-content p {
  margin-top: 10rem;
  color:#c55c23;
  text-transform: uppercase;
  margin-bottom: 1rem;
  
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
  text-align: left;
  opacity: .8;
}

.dobra-2-content h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 48px;
  letter-spacing: 0;
}

.dobra-2-content h4 {
  margin-top: 2rem;
  color: #fff;
  text-transform: uppercase;

  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
  opacity: .8;
}

.dobra-2-content a,
.dobra-5 a {
  margin-top: 2rem;
  background: linear-gradient(268deg, #e28d5f, #c55c23, #e28d5f,#c55c23);
  background-size: 800% 800%;
  color: #fff;
  transition: transform .2s ease-in;
  border: none;
  border-radius: 15px;
  animation: cta 6s ease infinite;
  box-shadow: 0 0 1em #c55c23; 
  padding: 1rem 6rem;
}

/* .dobra-2-content button a,
.dobra-5 button a{
  color: white;
  padding: 20px 80px;
  font-size: 1rem;
} */

@keyframes cta {
  0% {
  background-position: 0% 50%;
}

50% {
  background-position: 100% 51%;
}
100% {
  background-position: 0% 50%;
}
}

.dobra-2-content .dobra-2-p {
  margin-top: 1rem;
  color:#fff;
  text-transform: uppercase;
}

.seta img {
  box-sizing: border-box;
  -webkit-animation: arrow-down 1.5s infinite alternate;
  animation: arrow-down 1.5s infinite alternate;
}

.seta {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  margin-top: 8%;
}

@keyframes arrow-down {
  0%,
  40% {
    transform: translateY(0);
  }

  70% {
    transform: translateY(5px);
  }
}

@media screen and (max-width:1366px) {
  .dobra-2 {
    margin-top: -5px;
    background: url(../assets/bg_dobra2-2.jpg)  no-repeat 76% 25%; 
  }

  .dobra-2-content {
    margin: 0 5%; 
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .dobra-2-content p {
    margin-top: 4rem;
  }

  .dobra-2-content h1 {
    font-size: 2rem;
    line-height: 36px;
  }
  .dobra-2-content h4 {
    margin-top: 1rem;
    padding-right: 100px;
  }

  .dobra-2-content a {
    margin-top: 20px;
  }

  .seta {
    margin-top: 6%;
  }
}

@media screen and (max-width:1024px) {
  .dobra-2-content p {
    margin-top: 2rem;
  }
  .dobra-2-content h1 {
    font-size: 2rem;
    line-height: 36px;
  }
  .seta {
    margin-top: 6%;
  }
}


@media screen and (max-width:768px) {
  .dobra-2 {
    height: auto;
    margin-top: 0px;
    background: url(../assets/bg_dobra2_tablet.jpg)  no-repeat top center; 
    padding: 20px 40px;
  }

  .dobra-2-content {
    margin: 0 10%; 
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .dobra-2-content p {
    margin-top: 15rem;
    font-size: 0.8rem;
  }

  .dobra-2-content h1 {
    padding-right: 0px;
    font-size: 1.5rem;
    line-height: 24px;
  }

  .dobra-2-content h4 {
    margin-top: 1rem;
    padding-right: 0px;
    font-size: 0.8rem;
  }

  .dobra-2-content a {
    margin-top: 1rem;
    font-size: 0.8rem;
    padding: 1rem 4rem;
  }

  .dobra-2-content .dobra-2-p {
    margin-top: 0.9rem;
  }

  .seta img {
    display: none;
  }
}

@media screen and (max-width:450px) {
  .dobra-2 {
    height: auto;
    margin-top: -20px;
    padding: 0 20px;
    background: url(../assets/bg_dobra2_tablet.jpg)  no-repeat  top; 
    flex-wrap: wrap;
  }

  .dobra-2-content {
    margin: 0; 
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .dobra-2-content p {
    margin-top: 17rem;
    font-size: 0.7rem;
  }

  .dobra-2-content h1 {
    padding-right: 0%;
    font-size: 1.4rem;
    line-height: 24px;
  }

  .dobra-2-content h4 {
    display: none;
  }

  .dobra-2-content a {
    margin-top: 20px;
  }

  .dobra-2-p {
    font-size: 0.8rem;
  }


  .seta img {
    display: border-box;
    -webkit-animation: arrow-down 1.5s infinite alternate;
    animation: arrow-down 1.5s infinite alternate;
  }
  
  .seta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    margin-top: 0;
  }
  
}

/* Dobra 3 */

.dobra-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin: -5px auto 0 auto;
  padding: 40px 0;
  background: #000;
}

.dobra-3-h1 {
  display: inline-block;
  align-items: center;
  margin-bottom: 1rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: 0;
  text-align: center;
}

.dobra-3-conteudo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  margin-top: 40px;
}

.dobra-3-categorias {
  padding-right: 60px;
}

.dobra-3-categorias ul li {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #202227;
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.dobra-3-categorias ul li::before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 50px;
  margin-right: 10px;
  background: #9C6215;
}

.dobra-3-categorias .js-tabmenu .selecionado {
  background-color: #3e4147; 
}

.dobra-3-descricao {
  display: flex;
  width: 50%;
}

.dobra-3-descricao h4, .dobra-3-descricao p {
  color: #fff;
}

.dobra-3-descricao ul li {
  list-style-type: disc;
  color: #fff;
  margin-left: 20px;
}

.dobra-3-descricao .conteudo{
  max-width: 720px;
}

.dobra-3-nav ul {
  display: flex;
}

.dobra-3-nav ul li {
  padding: 0 20px 0 0;
  cursor: pointer;
}

.dobra-3-h4 {
  margin-top: 80px;
}

@media screen and (max-width:768px) {
  .dobra-3 {
    padding: 40px;
  }

  .dobra-3-h1 {
    font-size: 2rem;
    line-height: 36px;
    
  }

  .dobra-3-conteudo {
    width: 100%;
  }
  
  .dobra-3-categorias {
    padding-right: 20px;
  }
  .dobra-3-descricao ul li {
    margin-left: 20px;
  }
}


@media screen and (max-width:450px) {
  .dobra-3-h1 {
    font-size: 1rem;
    padding: 0 0px;
  }

  .dobra-3-h1 br {
    display: none;
  }

  .dobra-3-conteudo {
    max-width: 100%;
    padding: 0 ;
    display: flex;
    flex-direction: column;
  }
  
  .dobra-3-categorias {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .dobra-3-categorias ul li {
    margin-bottom: 20px;
    padding: 10px 20px;
  }

  .dobra-3-descricao {
    padding: 0;
    width: 100%;
  }

  .dobra-3-descricao ul li {
    margin-left: 20px;
  }
}

/* Dobra 4 */

.dobra-4 {
  background-color: rgb(45, 122, 122);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3rem 3rem;
}

.dobra-4-content {
  display: flex;
  flex-direction: column;
  max-width: 720px;
}

.dobra-4-content h4 {
  margin-top: 2rem;
}

.dobra-4-div {
  display: flex;
  align-items: center;
}

.dobra-4-divimg {
  height: 30px;
  padding-right: 20px;
}

.dobra-4-img {
  display: flex;
  flex: 1;
}

/* Dobra 5 */

.dobra-5 {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 3rem 3rem;
}

.dobra-5-img {
  width: 300px;
}

.dobra-5-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 4rem;
}

.dobra-5-content {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  padding: 0 0 0 2rem;
  color: #fff;
}

.dobra-5-content h2 {
  font-size: 3rem;
  padding: 0 0 40px 0;
}

.dobra-5 .botao  {
  margin-top: 2rem;
}

@media screen and (max-width:768px)  {
  .dobra-5-container {
    flex-direction: column;
  }
  .dobra-5-content {
    max-width: 80%;
    margin-top: 2rem;
  }
  .dobra-5-content h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width:450px) {
  .dobra-5-content {
    max-width: 90%;
    margin-top: 1rem;
  }
  .dobra-5-content h2 {
    font-size: 1.5rem;
  }
}

/* Footer */

footer {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

footer p {
  color: white;
}

/* JS */

.js-tabcontent section {
  display: none;
}

.js-tabcontent section.ativo {
  display: block !important;
  animation: show 0.5s forwards;
}

.js-content2 section {
  display: none;
}

.js-content2 section.ativado {
  display: block !important;
  animation: show 0.5s forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Menu mobile */

[data-menu="button"] {
  display: none;
}

@media (max-width: 768px) {
  .js [data-menu="button"] {
    display: flex;
    background: #c55c23;
    border: none;
    padding: .5rem 1rem;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    align-items: center;
    position: relative;
    z-index: 300;
  }
  
  .js [data-menu="button"]::before {
    margin-right: 4px;
    content: '';
    display: inline-block;
    height: 2px;
    width: 12px;
    background: #fff;
    box-shadow: 0 4px #fff, 0 -4px #fff;
    transition: transform .3s;
  }

  .js [data-menu="button"].active::before {
    transform: rotate(90deg);
  }

  .js [data-menu="list"] {
    display: none;
    position: absolute;
    background: #202227;
    width: 220px;
    z-index: 200;
    top: 0;
    right: 0;
    padding: 80px 0px 20px 0;
    box-shadow: 2px 2px 2px 0 rgba(213, 214, 234,.2);
  }

  #menu li {
    padding: 15px;
  } 

  .js [data-menu="list"].active {
    display: block;
    animation: show-right .3s forwards;
  }
  .js .dropdown-menu {
    position: static;
    border: none;
  }
}

@media (max-width: 500px) {
  .js [data-menu="list"] {
    width: 180px;
  }
}