body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Montserrat', sans-serif;
  /* color: #222222; */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

/* Dobra 1 */

.dobra-1 {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  
}

.dobra-1 img {
  width: 175px;
}

.dobra-1-menu ul {
  display: flex;
}

.dobra-1-menu ul li {
  padding: 0 20px;
}

.dobra-1-menu ul li a {
  color: #fff;
}
.dobra-1-menu ul li a:hover {
  font-weight: bold;
}

/* Dobra 2 */

.dobra-2 {
  height: 90vh;
  margin-top: -1px;
  /* background-color: #777; */
  background: url(../assets/bg_dobra2-2.jpg)  no-repeat center; 
}

.dobra-2-content {
  margin: 0 10%; 
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.dobra-2-content p {
  margin-top: 10rem;
  color:#c55c23;
  text-transform: uppercase;
  margin-bottom: 1rem;
  
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
  text-align: left;
  opacity: .8;
}

.dobra-2-content h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2.75rem;
  line-height: 48px;
  letter-spacing: 0;
}

.dobra-2-content h4 {
  margin-top: 2rem;
  color: #fff;
  text-transform: uppercase;

  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
  opacity: .8;
}

.dobra-2-content button {
  margin-top: 30px;
  background: #c55c23;
  color: #fff;
  transition: transform .2s ease-in;
  border: none;
}

.dobra-2-content .dobra-2-p {
  margin-top: 1rem;
  color:#fff;
  text-transform: uppercase;
}

.seta img {
  display: border-box;
  -webkit-animation: arrow-down 1.5s infinite alternate;
  animation: arrow-down 1.5s infinite alternate;
}

.seta {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  margin-top: 3vh;
}

@keyframes arrow-down {
  0%,
  40% {
    transform: translateY(0);
  }

  70% {
    transform: translateY(5px);
  }
}

@media screen and (max-width:1366px) {
  .dobra-2-content {
    margin: 0 10%; 
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

@media screen and (max-width:768px) {
  .dobra-2 {
    height: 90vh;
    margin-top: -45px;
    background: url(../assets/bg_dobra2_tablet.jpg)  no-repeat center center; 
    padding: 0 40px;
  }

  .dobra-2-content {
    margin: 0 10%; 
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .dobra-2-content p {
    margin-top: 17rem;
  }

  .dobra-2-content h1 {
    padding-right: 0px;
    font-size: 1.75rem;
    line-height: 36px;
  }

  .dobra-2-content h4 {
    margin-top: 1rem;
    padding-right: 0px;
  }

  .dobra-2-content button {
    margin-top: 1rem;
    max-width: 300px;
    font-size: 0.8rem;
  }

  .botao {
    max-width: 300px;
    padding: 15px 40px;
  }

  .dobra-2-content .dobra-2-p {
    margin-top: 0.9rem;
  }

  .seta img {
    display: none;
  }
}

@media screen and (max-width:425px) {
  .dobra-2 {
    height: auto;
    margin-top: -43px;
    padding: 0 20px;
    background: url(../assets/bg_dobra2_tablet.jpg)  no-repeat  top; 
    flex-wrap: wrap;
  }

  .dobra-2-content {
    margin: 0; 
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .dobra-2-content p {
    margin-top: 17rem;
    font-size: 0.7rem;
  }

  .dobra-2-content h1 {
    padding-right: 0%;
    font-size: 1.4rem;
    line-height: 24px;
  }

  .dobra-2-content h4 {
    display: none;
  }

  .dobra-2-content button {
    margin-top: 20px;
    padding: 15px 15px;
  }

  .dobra-2-p {
    font-size: 0.8rem;
  }

  .botao {
    padding: 15px 15px;
    font-size: 1rem;
  }

  .seta img {
    display: border-box;
    -webkit-animation: arrow-down 1.5s infinite alternate;
    animation: arrow-down 1.5s infinite alternate;
  }
  
  .seta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    margin-top: 0;
  }
  
}

/* Dobra 3 */

.dobra-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin: -1px auto 0 auto;
  padding: 40px 0;
  background: #000;
}

.dobra-3-h1 {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: 0;
  text-align: center;
}

.dobra-3-conteudo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  margin-top: 40px;
}

.dobra-3-categorias {
  padding-right: 60px;
}

.dobra-3-categorias ul li {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #202227;
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.dobra-3-categorias ul li::before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 50px;
  margin-right: 10px;
  background: #9C6215;
}

.dobra-3-descricao {
  display: flex;
}

.dobra-3-descricao h4, .dobra-3-descricao p {
  color: #fff;
}

.dobra-3-descricao ul li {
  list-style-type: disc;
  color: #fff;
}

.dobra-3-descricao .conteudo{
  max-width: 720px;
}

.dobra-3-nav ul {
  display: flex;
}

.dobra-3-nav ul li {
  padding: 0 20px 0 0;
  cursor: pointer;
}

.dobra-3-h4 {
  margin-top: 80px;
}

@media screen and (max-width:768px) {
  .dobra-3 {
    padding: 40px;
  }

  .dobra-3-h1 {
    font-size: 2rem;
    line-height: 24px;
    
  }

  .dobra-3-conteudo {
    width: 100%;
  }
  
  .dobra-3-categorias {
    padding-right: 20px;
  }
  .dobra-3-descricao ul li {
    margin-left: 20px;
  }
}


@media screen and (max-width:425px) {
  .dobra-3-h1 {
    font-size: 1.4rem;
    padding: 0 20px;
  }

  .dobra-3-conteudo {
    max-width: 100%;
    padding: 0 ;
    display: flex;
    flex-direction: column;
  }
  
  .dobra-3-categorias {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .dobra-3-categorias ul li {
    margin-bottom: 20px;
    padding: 10px 20px;
  }

  .dobra-3-descricao {
    padding: 0 ;
  }

  .dobra-3-descricao ul li {
    margin-left: 20px;
  }
}

/* Dobra 4 */

.dobra-4 {
  background-color: rgb(45, 122, 122);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3rem 3rem;
}

.dobra-4-content {
  display: flex;
  flex-direction: column;
  max-width: 720px;
}

.dobra-4-content h4 {
  margin-top: 2rem;
}

.dobra-4-div {
  display: flex;
  align-items: center;
}

.dobra-4-divimg {
  height: 30px;
  padding-right: 20px;
}

.dobra-4-img {
  display: flex;
  flex: 1;
}

/* Dobra 5 */

.dobra-5 {
  background-color: rgb(224, 243, 243);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3rem 3rem;
}

.dobra-5-content {
  display: flex;
  flex-direction: column;
  max-width: 720px;
}

.dobra-5-content h2 {
  font-size: 3rem;
  padding: 0 0 40px 0;
}

/* Footer */

footer {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

footer p {
  color: white;
}

/* Botão */

.botao {
  max-width: 400px;
  padding: 20px 80px;
  background-color: rgb(37, 172, 55);
  font-size: 1.4rem;
  color: #000;
}

.botao:hover {
  transform: scale(1.05);
  color: #fff;
  background-color: #236ca3;
}

/* JS */

.js-tabcontent section {
  display: none;
}

.js-tabcontent section.ativo {
  display: block !important;
  animation: show 0.5s forwards;
}

.js-content2 section {
  display: none;
}

.js-content2 section.ativado {
  display: block !important;
  animation: show 0.5s forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
